
*{
    font-family: 'Black Ops One',regular;

}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0; 
    background-image: url(https://images.hdqwalls.com/download/wooden-background-1366x768.jpg);
    background-size: cover;
    background-repeat:repeat;
    
}
.homeImg {
    background-repeat: no-repeat;
    height: 800px;
}
.background {
    height:90vh;

}
.heigthNavbar{
    height: 10vh;   
}
.navbar-brand{
    background-color: rgba(0, 0, 0, 0);
}

/* Home Page*/
 
.backgroundHome {
    height: 100vh;
    width: 100vw;
}

.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
}
.homeButton {
    border-radius: 1em;
    border: 0.2em solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: X-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.levelButton{

    border-radius: 1em;
    border: 0.2em solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: X-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 3em; 
}
.homeButton:hover, .levelButton:hover, .gameButton:hover{
    background: rgb(207,117,42);
    background: radial-gradient(circle, rgba(207,117,42,0.9717072740112994) 44%, rgba(252,227,69,1) 100%);
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to { background-position:20vw; }
  }

/* Colours Page*/

.square{

    width: 6em;
    height: 6em;
    border: 0.2em solid white;
    border-radius: 1em;
}
.colorpicker{

    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}
.coloursPage{

    overflow-x: hidden;
}
#intermediateRow, #beginnerRow, #advancedRow {
    display: none;
}

/* Levels Page*/

#playerName{
    height: 2em;
    background-color: rgba(255, 255, 255, 0.74);

}

/* About Page */

.borderAbout{
    border: 0.2em groove white;
    border-radius: 1em;
  
}

/* Game Page*/

.minisquare{
    width: 2em;
    height: 2em;
    margin-left: 3em;

}
.squareGame{
    width: 2em;
    height:2em;
    border: 0.1em solid white;
    border-radius: 1.5em;
}
.circle{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.2em solid white;
}

@media (min-width: 568px) {

    .miniSquare{
        width: 3em;
        height: 3em;
        margin-left: 1em;
        border-radius:1em;  
        cursor: pointer;
   }
    
    .squareGame{
        width: 4.2em;
        height: 4.2em;
        border: 0.2em solid white;
        margin-top: 0.5em;
        margin-right: 0.5em;
        border-radius: 1.5em;
    
    }
    .circle{
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 0.2em solid white;
    }
    #checkbutton{
     
        border-radius: 0.5em;
        border: 0.2em solid white;
        color: rgb(255, 255, 255);
        font-size: x-large;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer
    }
#game {
    padding-right: 10em; 
    padding-left:  8em;
  }
}

/* RESULTS PAGE */

.letters{
    font-size: 6em;
}

@media (min-width: 768px) {

.letters{
    font-size: 6em;
  }

#loser, #winner{
    display: none;
}
.gameButton{

    height: 2em;
    border-radius: 1em;
    border: 0.1em solid white;
    border: 0.2em groove white;
    color: white;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
 }
}