
*{
    font-family: 'Black Ops One',regular;
    background: #000000;
   
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

}  
.background {

    height:90vh;
}
.heigthNavbar{

    height: 10vh;   
}
.navbar-brand{
    background-color: rgba(0, 0, 0, 0);
}

/* Home Page*/
 
.backgroundHome {

    height: 100vh;
    width: 100vw;
}

.logo{
   font-size: 8em;
   color: white;
}

.homeButton, .levelButton{

    border-radius: 0.5em;
    border: 0.2em solid white;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.homeButton:hover, .levelButton:hover, .gameButton:hover{
    background-image: linear-gradient( to right, 
    #131313,
    #333333,
    #666666,
    #999999,
    #a4a0a0,
    #131313
      
      );
    animation: slidebg 3s linear infinite;
}

@keyframes slidebg {
    to { background-position:20vw; }
  }
/* Colours Page*/

.square{
    width: 6em;
    height: 6em;
    border: 0.2em solid white;
    border-radius: 1em;
}
.coloursPage{
    overflow-x: hidden;
}
#intermediateRow, #beginnerRow, #advancedRow {
    display: none;
}

/* Levels Page*/

#playerName{
    height: 2em;
    background-color: white;

}

/* About Page */

.borderAbout{
    border: 0.2em groove white;
    border-radius: 1em;
  
}

/* Game Page*/

.minisquare{
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;

}
.squareGame{
    width: 2em;
    height: 2em;
    border: 0.1em solid white;
    border-radius: 1em;
}
.circle{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.2em solid white;
}

@media (min-width: 768px) {

    .miniSquare{
       width: 2em;
       height: 2em;
        margin-left: 1em;  
}
    
    .squareGame{
        width: 4em;
        height: 4em;
        border: 0.2em solid white;
        
    }
    .circle{
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 0.2em solid white;
    }
}

#game{
    margin-right: 22em;
}

/* RESULTS PAGE */

.letters{
    font-size: 6em;
}

@media (min-width: 768px) {

.letters {
    font-size: 6em;

  }

#looser, #winner{
    display: none;
}
.gameButton{

    height: 2em;
    border-radius: 1em;
    border: 0.1em solid white;
    border: 0.2em groove white;
    color: white;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
 }
}