
*{
    font-family: 'Black Ops One' ,regular;
    background-color: rgb(73, 87, 151);
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.background{  
    height: 90vh;
}
.heigthNavbar{
    height: 10vh;   
}
.navbar-brand{
    background-color: rgba(0, 0, 0, 0);
}

/* Home Page*/

.backgroundHome{
    height: 100vh;
}
.logo{
 font-size: 6em;
 color: white;
}

.homeButton, .levelButton{
    border-radius: 1em;
    border: 0.4em solid white;
    color: white;
    font-size: x-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Colours Page*/

.square{
    width: 6em;
    height: 6em;
    border: 0.2em solid white;
    border-radius: 1em;
}
.coloursPage{
    overflow-x: hidden;
}
#intermediateRow, #beginnerRow, #advancedRow {
    display: none;
}

/* Levels Page*/

#playerName{
    height: 2em;
    background-color: white;

}

/* About Page */

.borderAbout{
    border: 0.2em groove white;
    border-radius: 1em;
}

/* Game Page*/

.squareGame{
    width: 2em;
    height: 2em;
    border: 0.2em solid white;
    border-radius: 1em;
}
.circle{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.2em solid white;
}
@media (min-width: 768px) {
    .squareGame{
        width: 4em;
        height: 4em;
        border: 0.2em solid white;
    }
    .circle{
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 0.2em solid white;
    }
}